.pl {
    color: red;
}

.eng {
    color: blue;
}

#lang_toggle {
    position: relative;
    width: 50px;
}

#nwm {
    position: relative;
    right: 57px;
    width: 50px;
    pointer-events: none
}

#nwm::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: grey;
    border-radius: 15px;
}

#lang_toggle:checked~#nwm::before {
    background: rgb(0, 183, 255);
}

#nwm::after {
    content: '';
    left: 0px;
    position: absolute;
    width: 25px;
    height: 25px;
    background: blue;
    border-radius: 15px;
    transition: 0.3s;
}
#lang_toggle:checked~#nwm::after {
    left: 25px;
}
.container {
    position: relative;
}

.container .content {
    display: none;
}

.container .content.contentPL {
    display: block;

}

#lang_toggle:checked~.content.contentPL {
    display: none;
}

#lang_toggle:checked~.content.contentENG {
    display: block;
}